<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <footer th:fragment="common_head">
        <div class="row">
            <div class="col-md-2 vertical" >

                <a href="/front/">
                    <div class="box"  style="background-image: url('/images/ind_2.jpg');height: 162px">
                        <img th:src="@{/images/t1.png}">
                        <h2 style="color: white">医院概况</h2>
                    </div>
                </a>

            </div>

            <div class="col-md-2 vertical" >
                <a href="/front/dept">
                    <div class="box" style="height: 162px;background-color: #e5ca8f">
                        <img th:src="@{/images/t2.png}">
                        <h2 style="color: white">科室简介</h2>
                    </div>
                </a>
            </div>

            <div class="col-md-2 vertical" >
                <a href="/front/doctor">
                    <div class="box" style="background-image: url(/images/ind_3.jpg);height: 162px">
                        <img th:src="@{/images/s5a210cfd381b9.png}">
                        <h2 style="color: black">专家介绍</h2>
                    </div>
                </a>
            </div>

            <div class="col-md-2 vertical" >
                <a href="#">
                    <div class="box" style="height: 162px;background-color: #01763a">
                        <img th:src="@{/images/t4.png}">
                        <h2 style="color: white">就诊指南</h2>
                    </div>
                </a>

            </div>

            <div class="col-md-2 vertical" >
                <a href="#">
                    <div class="box" style="height: 162px;background-color: #528eb5">
                        <img th:src="@{/images/t5.png}">
                        <h2 style="color: white">收费标准</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-2 vertical" >
                <div id="out" class="box" style="height: 162px;background-color: #a9a9a9">
                    <img th:src="@{/images/t4.png}">
                    <h2 style="color: white">退出</h2>
                </div>

            </div>

        </div>
    </footer>

</head>
</html>