<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <footer th:fragment="his_log">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>IP</th>
                            <th>时间</th>
                            <th>操作</th>
                            <th>参数</th>
                            <th>结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vo,voState : ${hisLogList}">
                            <td  th:text="${voState.index+1}"></td>
                            <td  th:text="${vo.createTime}"></td>
                            <td  th:text="${vo.param}"></td>
                            <td  th:text="${vo.result}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </footer>
</head>
</html>