<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <footer th:fragment="common_aside">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">自助机管理</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">管理员</a>
                    </div>
                </div>

                <!-- 左侧导航 -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    控制台
                                </p>
                            </a>
                        </li>
<!--                        科室简介-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    科室设置
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/dept" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>科室列表</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/dept/form" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>新增科室</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
<!--                        医院简介-->
                        <li class="nav-item has-treeview">
                            <a href="/admin/hospital" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    医院简介
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
<!--                        医生简介-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    医生简介
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/admin/doctor}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>医生列表</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/doctor/form" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>新增医生</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

<!--                        系统管理-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    自助机管理
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/admin/sys/log}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>自助机操作日志</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/his/log}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>HIS平台日志</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/bank/log}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>银行交易日志</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/kiosk/config}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>自助机配置</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

<!--                        交易管理-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    交易管理
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/admin/trans/record}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>交易记录</p>
                                    </a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </footer>
</head>
</html>